
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Jira API Tests Suite" parallel="false">

    <test name="JiraAPITests">
        <classes>
            <class name="JIRAApiTest2"/>
        </classes>
    </test>
    <!--    <listeners>-->
    <!--        <listener class-name="utils.TestNGListener"/>-->
    <!--    </listeners>-->

</suite>